<!DOCTYPE html>
<html>
<head>
  <title>Blogament</title>
  <%= stylesheet_link_tag    "blogament/application", media: "all" %>
  <%= javascript_include_tag "blogament/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
