/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require select2
 *= require select2-bootstrap
 *= require social-share-button
 */

@import "bootswatch/journal/variables";
@import "bootstrap";
@import "bootswatch/journal/bootswatch";

body {
  background-image: image-url("blogament/linen.png");
}
label {
  color: #3a87ad;
}
h3 {
  color: #eb6864;
}
.clear {
  clear: both;
}
span {
  font-size: 14px !important;
}
.btn-group {
  margin-bottom: 2%;
}

////// INDEX //////
#comment_text {
  width: 350px;
}

////// SHOW //////
.blog-container {
  margin-top: 8%;
  background-color: #ececec;
  border-radius: 10px;
  border: 4px solid #999999 !important;
  border-left: 7px solid #3a87ad !important;
  small {
    color: #336699;
  }
}
.blog-img {
  float: right;
  img {
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 30px;
  }
}
.jumbotron{
  background-color: #ececec;
}
.comment {
  background-color: #fff;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  img {
    border-radius: 10px;
    width: 40px;
    margin-right: 8px;
  }
}
.label-info, .label-default {
  font-size: 14px !important;
  margin-top: 10px;
}
#tags {
  margin-top: 20px;
}

////// EDIT //////
.select2-container-multi .select2-choices .select2-search-choice {
  margin: 10px 10px 10px 10px !important;
  padding: 5px 5px 5px 18px !important;
  color: #7f7f7f !important;
  border: 2px solid #7f7f7f !important;
  background-image: none !important;
  background-color: #dff0d8 !important;
}

////// ALERTS //////
#notice{
  left:0;
  top:60px;
  position:absolute;
  z-index:10000;
  width:100%;
}
.alert-temp{
  margin: 20px 2px 20px 2px;
}

.social-share-button a {
  margin: 5px;
  font-size: 0;
}

